@import "../../helpers/layout/responsive.scss";
@import "../../helpers/layout/styleRules.scss";

form{
    input{
        border: none;
        border-bottom: 1px solid grey;
        background: none;
    }

    .input-container {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
      }
      
    .icon {
        font-size: 25px;
        padding: 10px;
        margin-top: 8px;
        background: none;
        color: $primary-color;
        text-align: center;
    }

    .input-field {
        width: 100%;
        padding: 5px;
        outline: none;
        margin-left: 10px;
        margin-right: 10px;
        color: grey;
    }

    .input-field:focus {
        border-bottom: 2px solid $primary-color;
    }

    .btn-login {
        color: $primary-color;
        background: black;
        border: 1px solid $primary-color;
        width: 100%;
        padding: 10px;
        letter-spacing: 3px;
    }

    .btn-login:hover{
        color: black;
        background: $primary-color;
        border: 1px solid black;
    }
}
