@import "../../../helpers/layout/responsive.scss";
@import "../../../helpers/layout/styleRules.scss";



.login-pg {
    background: url("/images/login/background_login.png") no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

.formBox{
    padding: 40px;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: black;
    opacity: 0.9;
    height: auto;
    width: 100%;
    max-width: 430px;

    @include respond-to(small-mobile){
        margin-top: 60px;
    }

    .btnCustom{
        margin-top: 80px;
    }

    span{
        color: white;
        font-size: 18px;
    }
}


